.card{
    border:5px solid yellow;
    border-radius: 20px;
}
.button{
    text-align: center;
  }
.btn{
    background-color: black;
    color:yellow;

}

.btn:hover{
    background-color: black;
    color:white;
  }