/* .card{
    border:5px solid yellow;
    border-radius: 20px;
}
.btn{
    text-align: center;
  }
.btn{
    background-color: black;
    color:yellow;

}

.btn:hover{
    background-color: black;
    color:white;
} */
img{
    width: 100px;
    height: 130px;
    margin-right:none;
    justify-content:right;
}
@media(min-width:576px){

}
@media(min-width:768px){
   p{
       background-color: aquamarine;
   }
   img{
    visibility: hidden;
   } 
}

@media(min-width:1200px){
    p{
        background-color:burlywood;
    } 
    img{
        visibility: hidden;
    } 
 }

 @media(min-width:1400px){
    p{
        background-color: aquamarine;
    } 
 }
